.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.icon {
  font-size: 2rem;
}

input {
  padding: 6px 12px;
  width: 200px;
  font-size: 1.2rem;
  border-radius: 12px;
  border: solid 1px var(--primary-color);
  transition: var(--transition);
  background-color: var(--background-color);
}

input:hover {
  width: 240px;
}

input::placeholder {
  font-size: 1rem;
  text-transform: lowercase;
}

input:focus {
  outline: none;
  border-radius: 24px;
  border: solid 1px var(--light-color);
  width: 320px;
}
