.button {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 1.3rem;
  padding: 12px 24px;
  background-color: var(--primary-color);
  color: var(--black);
  border: none;
  border-radius: 24px;
  transition: var(--transition);
}

button:hover {
  background-color: var(--secondary-color);
  padding: 12px 48px;
  box-shadow: var(--shadow);
  text-shadow: var(--text-shadow);
}

button:active {
  scale: 0.9;
}

button:hover .icon-button {
  animation: rotateIn;
  animation-duration: 1s;
}

.icon-button {
  font-size: 1rem;
}
