.button {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 1.3rem;
  padding: 0.8rem 1.2rem;
  background-color: var(--primary-color);
  color: var(--black);
  border: none;
  border-radius: var(--border-radius);
  transition: var(--transition);
  cursor: pointer;
}

.button:hover {
  background-color: var(--secondary-color);
  padding: 0.8rem 2rem;
  box-shadow: var(--box-shadow);
  text-shadow: var(--text-shadow);
}

.button:active {
  scale: 0.9;
}

.icon-button {
  font-size: 1rem;
  color: var(--black);
}

.button:hover .icon-button {
  animation: headShake 2s;
}
