.languages {
  border-radius: 24px;
  box-shadow: 0 0 4px var(--primary-color);
}

.languages button {
  color: var(--black);
  font-size: 1.2rem;
  background-color: var(--primary-color);
  border: none;
  transition: var(--transition);
  font-weight: bolder;
  cursor: pointer;
}

.language-en {
  border-radius: 24px 0px 0px 24px;
  padding: 9px 18px;
}

.language-es {
  border-radius: 0px 24px 24px 0px;
  padding: 9px 18px;
}

.disabled {
  filter: grayscale(100%);
  cursor: pointer;
  padding: 9px;
}

.disabled:hover {
  filter: grayscale(50%);
  padding: 9px 24px;
}
