.screen-title-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.top-container {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
}

.clock-words-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
}

.screen {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  padding: 12px;
  height: 7rem;
  box-shadow: var(--box-shadow);
  background-color: var(--secondary-color);
}

.winner {
  background-color: var(--win-color);
}

.text {
  text-align: center;
  color: var(--black);
  text-shadow: var(--text-shadow);
}

.medium {
  font-size: 2rem;
}

.large {
  font-size: 3.4rem;
}

button {
  font-size: 1.5rem;
  padding: 12px;
}
