* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Share Tech Mono", monospace;
  text-rendering: optimizeLegibility;
  user-select: none;
}

:root {
  --white: #eee;
  --black: #222;
  --white-transparent: rgba(255, 255, 255, 0.1);
  --primary-color: #80ffdb;
  --secondary-color: #cbf3f0;
  --win-color: #80ed99;
  --wrong-color: #f74d0f;
  --transition: all 0.3s ease-in-out;
  --text-shadow: 0px 0px 2px var(--black);
  --box-shadow: 0 0 6px var(--secondary-color);
  --border-radius: 3px;
}

body {
  background-color: var(--black);
  overflow: hidden;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
  background: repeating-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.03) 0px,
    rgba(0, 0, 0, 0.03) 1px,
    transparent 1px,
    transparent 3px
  );
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

.container-margins {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  gap: 48px;
}

@media (max-width: 768px) {
  .container-margins {
    width: 90%;
  }
}
